@charset "utf-8";

body {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ　Ｐ明朝", "ＭＳ　明朝", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #333;
}
/* ヘッダー */
.header_top {
  padding: 10px 0px 10px 0px;
  background: #800000;
  color: #fff;
}
.logo {
  float: left;
  padding-left: 10px;
}
.logo img {
  display: inline-block;
}
.logo span {
  display: inline-block;
}
.site_reserve{
  text-align: right;
  padding-right: 15px;
}
.w_inner {
  width: 1200px;
  margin: 0 auto;
}
nav ul {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}
nav ul li {
  width: 200px;
  text-align: center;
  border-right: 1px solid #ddd;
}
nav ul li:first-child {
  border-left: 1px solid #ddd;
}
nav ul li a {
  display: block;
}
nav a:hover {
  opacity: 0.7;
}
.header_img {
  text-align: center;
}
.header_img img {
  display: inline-block;
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
}
/* コンテンツ */
.container_service .service {
  width: 380px;
  text-align: center;
}
/* お店の紹介 */
#concept {
  text-align: center;
  margin-bottom: 150px;
}
#concept img {
  display: inline-block;
}
#concept p {
  font-size: 20px;
  margin-top: 60px;
  line-height: 0px;
}
/* トピックス */
#topics {
  text-align: center;
  margin-bottom: 150px;
}
.topics_block {
  display: flex;
  justify-content: space-between;
}
.topics_aria img {
  width: 380px;
  height: 300px;
  margin-bottom: 15px;
}
.topics_aria .txt {
  text-align: left;
}
/* メニュー */
#menu {
  margin-bottom: 150px;
}
.container .container_service .menu_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.container_service h2 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.container_service .service img {
  margin-bottom: 20px;
  width: 380px;
  height: 300px;
}
.container_service .service .ttl {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.service ul {
  list-style: inside;
  text-align: left;
}
/* アクセス */
#access {
  text-align: center;
  margin-bottom: 100px;
}
#access h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 60px;
}
#access_map {
  float: left;
  width: 50%;
}
#access iframe {
  width: 80%;
}
#access_txt {
  float: right;
  width: 48%;
  text-align: left;
  margin-top: 60px;
  letter-spacing: 3px;
}
.clearlist {
  content: "";
  display: block;
  clear: both;
}
/* 問い合わせ */
#access_reserve {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 30px;
  line-height: 1.5em;
}
/* フッター */
footer {
  margin-top: 40px;
}
.copy {
  text-align: center;
  background: #800000;
  color: #fff;
  font-size: 12px;
  padding: 7px 0 3px;
}
