@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ　Ｐ明朝", "ＭＳ　明朝", sans-serif;
  font-size: 15px;
  line-height: 1.3em;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* ヘッダー */
.header_top {
  padding: 10px 0px 10px 0px;
  background: #800000;
  color: #fff;
}
.logo {
  float: left;
  padding-left: 15px;
}
.logo img {
  display: inline-block;
}
.logo span {
  display: inline-block;
}
.site_reserve{
  text-align: right;
  padding-right: 30px;
}
.clearlist {
  content: "";
  display: block;
  clear: both;
}
nav ul {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  list-style: none;
}
nav ul li {
  width: 200px;
  text-align: center;
  border-right: 1px solid #ddd;
}
nav ul li:first-child {
  border-left: 1px solid #ddd;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  display: block;
}
nav a:hover {
  opacity: 0.7;
}
.header_img {
  text-align: center;
}
.header_img img {
  display: inline-block;
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
}
/* お店の紹介 */
#concept {
  text-align: center;
  margin-bottom: 150px;
}
h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 60px;
}
#concept p {
  font-size: 20px;
  margin-top: 80px;
  line-height: 0px;
}
/* トピックス */
#topics {
  margin-bottom: 150px;
}
#topics .container h2 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 60px;
}
.topics_block {
  display: flex;
  justify-content: space-between;
}
.topics_box {
  width: 100%;
}
.topics_box img {
  width: 90%;
  height: 250px;
  margin-bottom: 15px;
}
.topics_box .txt ul {
  list-style: inside;
}
.topics_box .txt ul li {
  list-style: none;
}
/* メニュー */
#menu {
  margin-bottom: 150px;
}
.menu_block {
  display: flex;
  justify-content: space-between;
}
#menu h2 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 60px;
}
.menu_box {
  width: 100%;
}
.menu_box img {
  width: 90%;
  height: 250px;
  margin-bottom: 20px;
}
.menu_box .ttl {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}
.menu_box ul {
  list-style: inside;
  text-align: left;
}
/* アクセス */
#access {
  text-align: center;
  margin-bottom: 100px;
}
#access h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 60px;
}
#access_map {
  float: left;
  width: 50%;
}
#access iframe {
  width: 80%;
}
#access_txt {
  float: right;
  width: 48%;
  text-align: left;
  margin-top: 60px;
  letter-spacing: 3px;
}
.clearlist {
  content: "";
  display: block;
  clear: both;
}
/* 問い合わせ */
#access_reserve {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 30px;
  line-height: 1.5em;
}
/* フッター */
footer {
  margin-top: 40px;
}
.copy {
  text-align: center;
  background: #800000;
  color: #fff;
  font-size: 12px;
  padding: 7px 0 3px;
}

@media only screen and (max-width: 680px) {
  .wrap {
    overflow: hidden;
  }
  .container {
    margin: 0 auto;
    margin: 0 10px;
  }
  .logo {
    float: none;
  }
  .site_reserve {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  nav a {
    font-size: 0.8em;
  }
  .header_img img {
    height: 200px;
    width: 100%;
    margin-bottom: 80px;
  }

  /* お店の紹介 */
  #concept {
    margin-bottom: 80px;
  }
  #concept .container p {
    font-size: 0.8em;
  }
  .container h2 {
    font-size: 1.5em;
  }

  /* トピックス */
  #topics {
    margin-bottom: 80px;
  }
  #topics .container h2 {
    font-size: 1.5em;
  }
  .topics_block {
    display: block;
    width: 100%;
    /* text-align: center; */
  }
  .topics_box {
    margin-bottom: 50px;
  }
  .topics_box img {
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
  }
  .topics_box ul {
    margin: 0 10px;
  }

  /* メニュー */
  #menu {
    margin-bottom: 80px;
  }
  #menu .container h2 {
    font-size: 1.5em;
  }
  .menu_block {
    display: block;
    width: 100%;
    /* margin: 0 10px 30px 10px; */
  }
  .menu_box {
    margin-bottom: 50px;
  }
  .menu_box img {
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
  }

  .menu_box ul {
    margin: 0 10px;
  }

  /* アクセス */
  #access .container h2 {
    font-size: 1.5em;
  }
  #access_map {
    display: block;
    width: 100%;
    height: 270px;
    margin-bottom: 150px;
  }
  #access iframe {
    width: 100%;
  }
  #access_txt {
    text-align: center;
    display: block;
    width: 100%;
  }
  #access_txt p {
    text-align: left;
  }
}

